<% content_for(:title, "Sanctuary Info | Sanctuary Times Finder") %>


<h1> <%= @sanctuary.name %> </h1>
<h4> <%= @sanctuary.address %></h4>

<br />
<br />
<p><%= link_to "Edit this Sanctuary", edit_sanctuary_path(@sanctuary) %></p>
<p><%= link_to "Return to Sanctuary Index", sanctuaries_path %></p>
